body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}

.divider {
  margin: 0;
}

.form-container {
  padding: 2% 25% 4% 25%;
  
}

.form-container div {
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

#blog-header {
    font-size: 2rem;
    font-style: italic;
}
