body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.nav-container {
    margin-bottom: 2rem;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

.divider {
  margin: 0;
}

.form-container {
  padding: 2% 25% 4% 25%; 
}

.form-container div {
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

#blog-header {
    font-size: 2rem;
    font-style: italic;
}
